body{
margin:0px;
padding: 0px;
box-sizing: border-box;
scroll-behavior: smooth;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bc {
    background-image: url("https://www.datocms-assets.com/128889/1718718874-yellowstone-copy.jpeg?auto=format&fit=max&h=3000&w=2000");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.navbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        background-color: rgba(0, 0, 0, 0.03);
        transition: all 0.3s ease;
        z-index: 10;
    }
    .nav-links a {
        position: relative;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    /* underline */
    
    .nav-links a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 1px;
        background-color: currentColor;
        transition: width 0.3s ease;
    }
   
    
    .nav-links a:hover::after {
        width: 100%;
    }
    
    .menu-icon {
        color: white;
        transition: color 0.3s ease;
    }
    
    .navbar.scrolled {
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .navbar.scrolled .nav-links a {
        color: black;
    }
    
    .navbar.scrolled .menu-icon {
        color: black;
    }
    
    .logo img {
        height: 35px;
        transition: filter 0.3s ease;
    }
   
    
    .navbar .logo img {
        filter: invert(1) brightness(2);
    }
   
    
    .navbar.scrolled .logo img {
        filter: invert(0) brightness(1);
    }
    
    .nav-links {
        padding-right: 80px;
        display: flex;
        gap: 20px;
    }
    
    .nav-links a {
        text-decoration: none;
        color: #f1eaea;
        font-size: 14px;
    }
    
    .menu-icon {
        display: inline;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

.hell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hell span {
    display: block;
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.left span{
    position: absolute;
    top:90%;
    left:2%;
    color:white
}

.scroll-down {
    position: absolute;
    top: 90%;
    right: 4%;
    color: white;
    cursor: pointer;
}

.mid {
    display: flex;
    gap: 80px;
    padding: 100px;
    align-items: center;
}


.mid .d {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 500px;
}


.mid .d h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.mid .d p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}


.mid .d img {
    width: 80%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}


.mid .e {
    flex-shrink: 0;
}

.mid .e img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}
.mid1{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}
.mid1 .d{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mid1 .e{
    font-size: xx-large;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mid1 .c{
    padding-left: 900px;
}

.mid2 {
    overflow: hidden;
    padding: 60px 0;
}


.slider {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: scroll 35s linear infinite;
}


.fix {
    position: relative;
    width: 420px;
    height: 520px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
}


.fix::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}


.caption {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 2;
    color: white;
}

.caption h2 {
    font-size: 22px;
    margin-bottom: 6px;
}

.caption p {
    font-size: 14px;
    opacity: 0.9;
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


.mid2:hover .slider {
    animation-play-state: paused;
}

.mid3{
     display: flex;
    flex-direction: column;
    padding-left: 140px;
}
.mid3 .d{
    display: flex;
    flex-direction: column;
}
.mid3 .d .v{
font-size: xx-large;
font-weight: 400;

}
.mid3 .d .q{
font-size: xx-large;
font-weight: 900;
}
.mid3 .e{
font-size:large;
font-weight: 400;
opacity: 0.7;
}


.mid4 {
    position: relative;
    width: 100%;
    height: 650px;
    margin-top: 120px;
    overflow: hidden;
    background-color: #f1eded;

    /* globe background */
    background-image: url("../assets/download (1).png");
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: left center;
}
.mid4 .ft {
    position: absolute;
    right:0px;
    top: 30%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: #000;
    color: #fff;
    display: flex;
    padding-left: 45px;
    width: 620px;
    height: 420px;
    box-sizing: border-box;
    box-shadow: 0 30px 90px rgba(0,0,0,0.45);
    padding-right:120px;
}

.ft .ft-text{
    display: flex;
    flex-direction: column;
    padding-top:50px;
    
}
.ft .ft-text .nav-icons .bu{
height: 100px;
}
.ft .ft-text .weather-icons{
    gap:20px;
    width:300px ;
    display: flex;
    flex-direction: row;
    font-size: large;
    opacity: 0.6;
    padding-top: 20px;
}
.ft .ft-text #title1{
     font-size: large;
}
.ft .ft-text #title{
     font-size: large;
}
.ft .ft-text .loc{
    font-size: xlarge;
}

.ft .ft-text .loc{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px
}
.ft .ft-img #mainImg{
    height:420px;
    width:275px;
    object-fit: cover;
    
}


.tiles {
    display: flex;
    width: 100%;
    height: 45em;
}

.tile {
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;
}


.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* Title */
.overlay h2 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}


.circle-arrow {
    width: 55px;
    height: 55px;
    border: 1.5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.tile:hover .circle-arrow {
    background: white;
    color: black;
}




.footer-dark {
        background: #000;
        color: #fff;
        padding: 80px 100px 30px;
        z-index: -10;
    }
    
    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        gap: 60px;
        align-items: start;
    }
    
    .footer-icon img {
        width: 40px;
        opacity: 0.8;
    }
    
    .footer-col {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .footer-heading {
        font-size: 12px;
        letter-spacing: 1px;
        color: #aaa;
    }
    
    .footer-heading.mt {
        margin-top: 25px;
    }
    
    .footer-col a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        width: fit-content;
    }
     .footer-col a:hover {
        text-decoration: underline;
    }
    
    .footer-col a.active {
        text-decoration: underline;
    }
    
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-top: 60px;
        padding-top: 20px;
        font-size: 13px;
        color: #ccc;
    }
.weather-icons {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.icon-box {
    text-align: center;
}

.icon-box i {
    font-size: 22px;
}

.icon-box p {
    margin: 4px 0 0;
    font-size: 14px;
}


@media (max-width: 1024px) {

     .navbar {
        padding: 0 15px;
        height: 65px;
    }

    .menu-icon {
        display: block;
    }


    .mid {
        flex-direction: column;
        padding: 60px;
        gap: 40px;
    }

    .mid .e img {
        width: 100%;
        height: auto;
    }

    .mid1 {
        flex-direction: column;
        padding-left: 60px;
        gap: 20px;
    }

    .mid1 .c {
        padding-left: 0;
    }

    .mid4 {
        height: auto;
        background-size: cover;
        padding: 80px 20px;
    }

    .mid4 .ft {
        position: static;
        transform: none;
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 30px;
    }

    .ft .ft-img #mainImg {
        width: 100%;
        height: 300px;
    }

    .footer-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media (max-width: 768px) {

    .mid {
        flex-direction: column;
        padding: 40px 20px;
    }

    .mid1 {
        flex-direction: column;
        padding-left: 20px;
    }

    .mid4 {
        flex-direction: column;
        background-position: center;
    }

    .mid4 .ft {
        width: 100%;
        margin: 0;
    }

    .ft .ft-img #mainImg {
        width: 100%;
        height: auto;
    }

    .tiles {
        flex-direction: column;
        height: auto;
    }
}

